---
// components
import Heading from "../../elements/Heading.astro";
import Container from "../../elements/Container.astro";
import Text from "../../elements/Text.astro";
---

<Container variant={'xl'} class="text-center text-base-900 flex flex-col items-center">
    <Heading tagName="h1" tagSize="h1">Contact</Heading>
    <div class="max-w-3xl flex flex-col gap-4">
        <Text variant={'xl'}>Interested in One of our Apps? Interested in Working Together?</Text>
        <Text variant={'sm'}>Whether you have a question about one of our apps, want to report a bug, or have an idea for a collaboration — we'd love to hear from you. Drop us a line and we'll get back to you as soon as we can.</Text>
    </div>
</Container>